h1 {
    background-color: rgb(121, 206, 255);
    display: inline-block;
    padding: 0.5vw;
    font-family: "Lilita One", serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 0;
}

h2 {
    color: green;
    font-family: "Lilita One", serif;
    font-weight: 400;
    font-style: normal;
}

.display_block {
    display: block;
    margin-top: 0.5vh;
}

.display_block:hover {
    transition: transform 0.3s ease;
    transform: scale(1.2);

}

a {
    color: rgb(220, 20, 60);
    text-decoration: none;
}

a:visited {
    color: crimson;
}

a:hover {
    color: rgb(300, 100, 140);

}

img {
    border: 0.4vh solid rgb(255, 255, 255);
    border: 0.3vh solid black;

}

body {
    text-align: center;
    background-image: linear-gradient(rgb(255, 255, 255), rgb(163, 209, 255));
    min-height: 100vh;
}

footer {
    background-color: rgb(121, 206, 255);
    display: inline-block;
    padding: 1vh;
    margin-bottom: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


#make_ruler_bottom {
    margin-top: 10vh;
    margin-bottom: 3vh;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-10px);


}

.fade-in {
    opacity: 0;
    animation: fadeIn 5s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

/* Here's the animation for the user tab*/

summary {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide-in {
    transform: translateX(-100%);
    animation: slideIn 2.5s forwards;
}

@keyframes slideIn {
    to {
        transform: translateX(0);
    }
}

.hover-scale {
    transition: transform 0.3s ease;
}

.hover-scale:hover {
    transform: scale(1.2);
}

/* Here's the animation for sub headings*/
h4 {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Here's the animation for the divs*/
div {
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    .hover-scale {
        transition: transform 0.3s ease;
    }

    .hover-scale:hover {
        transform: scale(1.2);
    }
}

li {
    padding-left: 1vw;
    padding-right: 6vw;
}