h1 {
    background-color: #000000;
    display: inline-block;
    padding: 0.5vw;
    font-family: "Lilita One", serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 0;
}

h2 {
    color: green;
    font-family: "Lilita One", serif;
    font-weight: 400;
    font-style: normal;
}

.display_block {
    display: block;
    margin-top: 0.5vh;
   font-size: 1.4rem;
}

.display_block:hover {
    transition: transform 0.3s ease;
    transform: scale(1.2);

}

a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

a:visited {
    color: rgb(255, 0, 221); 
}

a:hover {
    color: rgb(300, 100, 140);
}

img {
    border: 0.4vh solid rgb(255, 255, 255);
    border: 0.3vh solid black;

}

body {
    text-align: center;
    background-image: linear-gradient(rgb(255, 255, 255), rgb(163, 209, 255));
    min-height: 100vh;
}

footer {
    background-color: rgb(0, 0, 0);
    display: inline-block;
    padding: 1vh;
    margin-bottom: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color:rgb(255, 255, 255);
}


#make_ruler_bottom {
    margin-top: 10vh;
    margin-bottom: 3vh;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-10px);
    color: white;

}

.fade-in {
    opacity: 0;
    animation: fadeIn 5s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

/* Here's the animation for the user tab*/

summary {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide-in {
    transform: translateX(-100%);
    animation: slideIn 2.5s forwards;
    font-size: 1.8rem;
    
}

@keyframes slideIn {
    to {
        transform: translateX(0);
    }
}

.hover-scale {
    transition: transform 0.4s ease;
}

.hover-scale:hover {
    transform: scale(1.2);
}


h4 {
    display: flex;
    justify-content: center;
    align-items: center;
}


div {
    display: flex;
    justify-content: center;
    align-items: center;
}

li {
    padding-left: 1vw;
    padding-right: 3vw;
}

.add-to-cart {
    background-color: #ff5722; 
    color: #ffffff; 
    font-size: 19px; 
    font-family: 'Lilita One', cursive; 
    padding: 20px 30px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.2s ease;
    position: relative;
    top: 1rem;
}

.add-to-cart:hover {
    background-color: #e64a19; 
    transform: scale(1.05); 
}

.add-to-cart:active {
    transform: scale(0.95);
    background-color: #d84315; 
}

a.no-visited-style:visited {
    color: white;
}

.fixed-size {
    width: 30em;   
    height: 20em; 
    object-fit: cover; 
}


.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.prev {
    left: 30rem;
    top: 20rem; 
}

.next {
    right: 30rem;
    top: 20rem; 
}

#profilepic {
    border-radius: 14rem;
    border-style:double;
    width: 10rem;
    height: 10rem;
}